.row {
  display: flex;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.column-quarter {
  width: calc(100% / 4.1);
}

.header {
  background-color: purple;
  justify-content: space-evenly;
  align-items: center;
}

.new-entry-input {
  display: flex;
  flex-direction: column;
}

.new-entry-input:nth-of-type(2) {
  margin: 40px 0 0;
}

.notes-div {
  margin-top: 10px;
}

.new-entry-save-div {
  display: flex;
  justify-content: space-between;
}

.new-entry-save-button {
  display: flex;
  justify-content: end;
}

.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entries-notes {
  margin-left: 20px;
}

.black-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-box {
  background-color: white;
  padding: 60px;
  border-radius: 15px;
  text-align: center;
}

.cancel-confirm-div {
  justify-content: space-between;
}

.sign-up-sign-in {
  text-align: center;
  padding: 10% 0;
}

.sign-up-div {
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sign-up-div input {
  height: 40px;
  border-radius: 5px;
  padding: 0;
  margin: 5px;
}

.create-account {
  text-align: center;
}

.sign-up-div input::placeholder,
.create-account input::placeholder {
  font-size: 20px;
}

.create-account input {
  height: 40px;
  border-radius: 5px;
  padding: 20px 5px;
  margin: 5px;
}

.create-account-email-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.entries-new {
  justify-content: space-between;
  align-items: center;
}

#birthday {
  width: 50%;
  font-size: 30px;
}

.hidden {
  display: none;
}
