* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Balsamiq Sans", cursive;
}

p,
label,
input,
a,
button {
  font-family: "Fuzzy Bubbles", cursive;
}

a,
button,
.delete-entry {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
}
