.new-entry-img {
  width: 90%;
}

.entry-img {
  width: 100%;
}

li {
  list-style-type: none;
  margin: 20px 0;
}

.new-entry-input input,
.new-entry-input label,
.notes-div label,
.notes-div textarea,
.new-entry-save {
  font-size: 22px;
}

.new-entry-input input {
  padding: 10px;
  border-radius: 5px;
}

.header a {
  color: white;
}

.sign-in-icon {
  font-size: 30px;
  margin-left: 10px;
}

.new-entry-input label,
.notes-div label {
  margin-bottom: 5px;
}

.notes-div textarea {
  border-radius: 5px;
  border-width: 2.5px;
}

.notes-div textarea,
.new-entry-input input {
  border-color: purple;
}

.pencil-icon {
  font-size: 50px;
  color: blue;
}
