.new-entry-img {
  width: 90%;
}

.entry-img {
  width: 100%;
}

li {
  list-style-type: none;
  margin: 20px 0;
}

.create-account h2 {
  font-size: 40px;
}

.create-account h2,
.create-account h6 {
  margin: 20px 0;
}

.create-account h6 {
  font-size: 20px;
}

.new-entry-input input,
.new-entry-input label,
.notes-div label,
.notes-div textarea,
.new-entry-save,
.delete-entry {
  font-size: 22px;
}

.new-entry-input input {
  padding: 10px;
  border-radius: 5px;
}

.header a {
  color: white;
}

.sign-in-icon {
  font-size: 30px;
  margin-left: 10px;
}

.new-entry-input label,
.notes-div label {
  margin-bottom: 5px;
}

.notes-div textarea {
  border-radius: 5px;
  border-width: 2.5px;
}

.notes-div textarea,
.new-entry-input input {
  border-color: purple;
}

.pencil-icon {
  font-size: 50px;
  color: blue;
}

.new-entry-save {
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 21px;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  border-color: purple;
}

.delete-entry {
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 21px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  border-color: red;
}

.cancel-delete {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: gray;
  padding: 10px 16px;
  border-radius: 5px;
}

.confirm-delete {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 10px 16px;
  border-radius: 5px;
}

.sign-up-sign-in button {
  background: purple;
  color: #fff;
  position: relative;
  font-size: 25px;
  width: 39%;
  height: 40px;
  transition: 800ms ease all;
  margin: 10px;
  border-radius: 10px;
}

.create-account button {
  background: purple;
  color: #fff;
  position: relative;
  font-size: 25px;
  width: 50%;
  height: 40px;
  transition: 800ms ease all;
  border-radius: 5px;
  margin: 0 0 20px;
}

.create-account a {
  background: purple;
  color: #fff;
  position: relative;
  font-size: 25px;
  transition: 800ms ease all;
  border-radius: 5px;
  padding: 0.4% 20.56%;
}

.sign-up-sign-in a {
  width: 39%;
  background: purple;
  color: #fff;
  position: relative;
  font-size: 25px;
  transition: 800ms ease all;
  margin: 10px;
  border-radius: 10px;
  padding: 0.4% 7.36%;
}

.sign-up-sign-in button:hover,
.sign-up-sign-in a:hover {
  background: #fff;
  color: purple;
}

.sign-up-sign-in button::before,
.sign-up-sign-in button::after,
.sign-up-sign-in a::before,
.sign-up-sign-in a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: purple;
  transition: 400ms ease all;
}

.sign-up-sign-in button::after,
.sign-up-sign-in a::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.sign-up-sign-in button:hover::before,
.sign-up-sign-in button:hover::after,
.sign-up-sign-in a:hover::before,
.sign-up-sign-in a:hover::after {
  width: 100%;
  transition: 800ms ease all;
}
